{{ define "title"}} {{.Title}} {{end}}
{{ define "head"}}{{end}}
{{ define "content"}}
    <div class="blog-info">
        <div>Разделы:
            {{ range AllCategories }}
                <a href="/{{.Permalink}}/">{{.Title}}</a>
            {{ end }}
        </div>
    </div>
    <div class="posts">
        {{ $last_viewed_date := .LastViewedDate }}

        {{range AllPosts}}
            {{ if gt .Updated_at.Unix $last_viewed_date.Unix}}
            <a href="/{{.Permalink}}/" class="post new">
            {{else}}
            <a href="/{{.Permalink}}/" class="post">
            {{end}}
                <div class="title">{{.Title}}</div>
                <div class="description">{{.HTMLDescription}}</div>
            </a>
        {{ end }}
    </div>
{{ end }}

{{define "footer"}}{{end}}