{{ define "title"}} {{.Title}} {{end}}
{{ define "head"}}{{end}}
{{ define "content"}}
    <div class="blog-info">
        <div>Разделы:
            {{ range AllCategories }}
                <a href="/{{.Permalink}}/">{{.Title}}</a>
            {{ end }}
        </div>
    </div>
    <div class="posts">

        {{range AllPosts}}
            <a href="/{{.Permalink}}/" class="post">
                <h2 class="title">{{.Title}}</h2>
                <div class="description">{{.HTMLDescription}}</div>
                <h3 class="category">{{.Parent.Title}}</h3>
            </a>
        {{ end }}
    </div>
{{ end }}

{{define "footer"}}{{end}}