<html>
<head>
    <title>Lesnoy.name blog!</title>
</head>
<body>
    <p>Welcome on my personal blog written with GoLang!</p>
    <p>All of my steps I'm describing in this blog and comitting on gihtib repository.</p>
    <p>I hope it will be helpful for you. Enjoy my blog and GoLang ;)</p>

    {{range .}}
        <div class="post">
            <div class="title">{{.Title}}</div>
            <a href="/{{.Url}}/">Read more</a>
        </div>
    {{ end }}
</body>
</html>