{{ define "title"}} {{.Title}} {{end}}
{{ define "content"}}
    <div class="blog-info">
        <div>Разделы:
            {{ range .Categories }}
                <a href="/{{.Permalink}}/">{{.Title}}</a>
            {{ end }}
        </div>
    </div>
    <div class="posts">
        {{range .Posts}}
            <a href="/{{.Permalink}}/" class="post">
                <div class="title">{{.Title}}</div>
                <div class="description">{{.Description}}</div>
            </a>
        {{ end }}
    </div>
{{ end }}