{{define "layout"}}
<!DOCTYPE html>
<html>
<head>
    <title>{{ template "title" .}}</title>
    
    <link href="/assets/css/main.css?ver=1.0" type="text/css" rel="stylesheet" />
    <link href="/assets/css/prettify.css" type="text/css" rel="stylesheet" />
    <script async src="/assets/js/prettify.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    {{ template "head" . }}
</head>
<body data-type="{{.PageType}}" class="{{.PageType}}" onload="prettyPrint()">
    {{ if CurrentUser }}
    {{ $user := CurrentUser }}
    <script src="/assets/js/admin.js"></script>
    <div class="admin-panel">
        <div class="text">
            <span>Hello, {{$user.Login}}! You're logged in as {{$user.Role}}.</span>
            <a href="/logout/">Logout</a>
        </div>
    </div>
    {{ end }}
    <div class="header">
        <div class="container">
            <h1 data-editable="true" data-panel="false" data-key="title">{{.Title}}</h1>
            <div data-editable="true" data-panel="false" data-key="description" class="description">{{.HTMLDescription}}</div>

        </div>
    </div>
    <div class="page-content">
        <div class="container">
            {{ template "content" . }}
        </div>
    </div>
    <div class="footer">
        <div class="container">

        </div>
    </div>
    {{ template "footer" .}}
    {{ if IsProduction }}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-62784772-1', 'auto');
          ga('send', 'pageview');

        </script>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter30163884 = new Ya.Metrika({id:30163884,
                            webvisor:true,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/30163884" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    {{ end }}
<link href='//fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

</body>
</html>
{{end}}