<html>
<head>
    <title>Lesnoy.name blog! Post page</title>
</head>
<body>
<p>This is post page! It will be display post content in future. Go back soon.</p>
<h2>{{.Text}}</h2>
<p>Written by {{.Name}}</p>
</body>
</html>