{{ define "title"}}{{.Title}}{{end}}
{{ define "head"}}
    <meta name="description" content="{{.MetaDescription}}">
    <meta name="keywords" content="{{.Keywords}}">
{{end}}
{{ define "content"}}
    <h1>{{.Title}}</h1>
    <p>{{.HTMLContent}}</p>
    <p>{{.Updated_at.Format "02.01.2006 15:04:05"}}</p>
    <div class="navigation">
        {{ $prevPost := .Prev }}
        {{ $nextPost := .Next }}

        <a href="/{{$prevPost.Permalink}}/">{{$prevPost.Title}}</a>
        <a href="/{{$nextPost.Permalink}}/">{{$nextPost.Title}}</a>
    </div>

{{end}}